{% extends 'base.html' %}

{% block content %}
    <form method="POST" onsubmit="send()">
        <img src="https://picsum.photos/200"/>
        <span class="description">Send anonymous message to @ashlah23</span>
        <span id="placeholder" class="custominput" role="textbox" contenteditable></span>
        <input id="message" name="message" type="hidden"></input>
        <button><h4>Send</h4></button>
    </form>
    <script>
        function send() {
            placeholder = document.getElementById('placeholder');
            message = document.getElementById('message');
            message.value = placeholder.innerHTML;
        }
    </script>
{% endblock %}
